<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <link href="{{ 'themify-icons.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'font-awesome.min.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'flaticon_ecommerce.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'bootstrap.min.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'animate.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'owl.carousel.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'owl.theme.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'slick.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'slick-theme.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'swiper.min.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'owl.transitions.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'jquery.fancybox.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'nice-select.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'odometer-theme-default.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'style.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'custom.css' | asset_url }}" rel="stylesheet">
    <script src="{{ 'global.js' | asset_url }}" defer></script>

    {{ content_for_header }}
  </head>

  <body>
    <div class="page-wrapper">
      <!-- start preloader -->
      {% comment %}
        <div class="preloader">
          <div class="vertical-centered-box">
            <div class="content">
              <div class="loader-circle"></div>
              <div class="loader-line-mask">
                <div class="loader-line"></div>
              </div>
              <img src="{{ 'preloader.png' | asset_url }}" alt="perloader" width="" height="">
            </div>
          </div>
        </div>
      {% endcomment %}
      {% section 'header' %}
      {{ content_for_layout }}
      {% section 'footer' %}
    </div>

    <script src="{{ 'jquery.min.js' |  asset_url }}" defer></script>
    <script src="{{ 'bootstrap.bundle.min.js' | asset_url }}" defer></script>
    <script src="{{ 'modernizr.custom.js' | asset_url }}" defer></script>
    <script src="{{ 'jquery.dlmenu.js' | asset_url }}" defer></script>
    <script src="{{ 'jquery-plugin-collection.js' | asset_url }}" defer></script>
    <script src="{{ 'script.js' | asset_url }}" defer></script>
  </body>
</html>
