<section class="about-features-area section-padding">
  <div class="container">
    <div class="about-features-wrap">
      {% for block in section.blocks %}
        <div class="about-features-item">
          <div class="about-features-img">
            <img
              src="{{ block.settings.block_image |  image_url: width: 900 }}"
              alt="{{ block.settings.block_image.alt }}"
              width=""
              height=""
              loading="lazy"
            >
          </div>
          <div class="about-features-text wow fadeInUp" data-wow-duration="1400ms">
            <h2>{{ block.settings.title }}</h2>
            <p>
              {{ block.settings.description }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="more-btn">
      <a href="{{ section.settings.button_link }}" class="theme-btn">{{ section.settings.button_text }}</a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About Feature Section",
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "ORDER NOW"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "name": "Slider",
      "type": "block",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Our Mission"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "To provide unparalleled relaxation and wellness with our sleek, modern massage chairs. We blend luxury, affordability, and essential protection to enhance our customers' quality of life with high-quality craftsmanship and dedicated support."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About Feature Section",
      "blocks": [
        {
          "type": "block"
        }
      ]
    }
  ]
}
{% endschema %}
