<footer class="footer-section">
  <div class="upper-footer">
    <div class="container">
      <div class="newslatter-wrap">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="newslatter-left">
              <div class="section-title">
                <h2>{{ section.settings.subscribe_title }}</h2>
                <p>{{ section.settings.subscribe_description }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="newslatter-right">
              {% form 'customer' %}
                <input type="text" placeholder="Email address" name="contact[email]">
                <button>Submit</button>
                {% if form.posted_successfully? %}
                  <p class="text-center mt-2">Thank you for signing up!</p>
                {% endif %}
              {%- endform -%}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
          <div class="widget link-widget">
            <div class="widget-title">
              <h3>{{ section.settings.brands_links_title }}</h3>
            </div>
            <ul>
              {% for link in linklists[section.settings.brands_links].links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col col-xl-3 col-lg-3 col-sm-12 col-12">
          <div class="widget link-widget">
            <div class="widget-title">
              <h3>{{ section.settings.categories_title }}</h3>
            </div>
            <ul>
              {% for link in linklists[section.settings.categories_links].links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col col-xl-3 col-lg-3 col-sm-12 col-12">
          <div class="widget link-widget custom">
            <div class="widget-title">
              <h3>{{ section.settings.navigate_title }}</h3>
            </div>
            <ul>
              {% for link in linklists[section.settings.navigate_links].links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col col-xl-3 col-lg-3 col-sm-12 col-12">
          <div class="widget link-widget custom">
            <div class="widget-title">
              <h3>{{ section.settings.support_title }}</h3>
            </div>
            <ul>
              {% for link in linklists[section.settings.support_links].links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <div class="lower-footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="copy-wrap">
          <p>{{ section.settings.social_media_text }}</p>
          <ul class="social">
            {% if section.settings.facebook_link != blank %}
              <li>
                <a href="{{ section.settings.facebook_link }}">
                  <i class="ti-facebook"></i>
                </a>
              </li>
            {% endif %}
            {% if section.settings.twitter_link != blank %}
              <li>
                <a href="{{ section.settings.twitter_link }}">
                  <i class="ti-twitter-alt"></i>
                </a>
              </li>
            {% endif %}
            {% if section.settings.linkedin_link != blank %}
              <li>
                <a href="{{ section.settings.linkedin_link }}">
                  <i class="ti-linkedin"></i>
                </a>
              </li>
            {% endif %}
            {% if section.settings.instagram_link != blank %}
              <li>
                <a href="{{ section.settings.instagram_link }}">
                  <i class="ti-instagram"></i>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer Section",
  "settings": [
    {
      "type": "text",
      "id": "subscribe_title",
      "label": "Subscribe Title",
      "default": "Subscribe To Our Newsletter"
    },
    {
      "type": "text",
      "id": "subscribe_description",
      "label": "Subscribe Description",
      "default": "Subscribe now and enjoy an exclusive 20% discount!"
    },
    {
      "type": "text",
      "id": "brands_links_title",
      "label": "Brands Title",
      "default": "Brands"
    },
    {
      "type": "link_list",
      "id": "brands_links",
      "label": "Brands Links"
    },
    {
      "type": "text",
      "id": "categories_title",
      "label": "Categories Title",
      "default": "Categories"
    },
    {
      "type": "link_list",
      "id": "categories_links",
      "label": "Categories Links"
    },
    {
      "type": "text",
      "id": "navigate_title",
      "label": "Navigate Title",
      "default": "Navigate"
    },
    {
      "type": "link_list",
      "id": "navigate_links",
      "label": "Navigate Links"
    },
    {
      "type": "text",
      "id": "support_title",
      "label": "Support Title",
      "default": "Support"
    },
    {
      "type": "link_list",
      "id": "support_links",
      "label": "Support Links"
    },
    {
      "type": "text",
      "id": "social_media_text",
      "label": "Social Media Text",
      "default": "Follow Us On Social Media"
    },
    {
      "type": "url",
      "id": "facebook_link",
      "label": "Facebook Link"
    },
    {
      "type": "url",
      "id": "twitter_link",
      "label": "Twitter Link"
    },
    {
      "type": "url",
      "id": "linkedin_link",
      "label": "Linkedin Link"
    },
    {
      "type": "url",
      "id": "instagram_link",
      "label": "Instagram Link"
    }
  ],

  "presets": [
    {
      "name": "Footer Section"
    }
  ]
}
{% endschema %}
