<header id="header">
  <!-- end topbar -->
  <div class="site-header">
    <nav class="navigation navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
            <div class="mobail-menu">
              <button type="button" class="navbar-toggler open-btn">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar first-angle"></span>
                <span class="icon-bar middle-angle"></span>
                <span class="icon-bar last-angle"></span>
              </button>
            </div>
          </div>
          <div class="col-lg-1 col-md-6 col-6">
            <div class="navbar-header">
              {% if section.settings.logo != blank %}
                <a class="navbar-brand" href="/"
                  ><img src="{{ section.settings.logo |  image_url: width: 400 }}" width="" height="" alt="logo"
                ></a>
              {% else %}
                <a class="navbar-brand" href="/"
                  ><img src="{{ 'logo.png' | asset_url }}" alt="logo" width="" height=""
                ></a>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-9 col-md-1 col-1">
            <div id="navbar" class="collapse navbar-collapse navigation-holder">
              <button class="menu-close"><i class="ti-close"></i></button>
              <ul class="nav navbar-nav mb-2 mb-lg-0">
                {% for link in linklists[section.settings.menu].links %}
                  {% if link.links.size > 0 %}
                    <li class="menu-item-has-children">
                      <a href="{{ link.url }}">{{ link.title }}</a>
                      <ul class="sub-menu">
                        {% for child_link in link.links %}
                          <li>
                            <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li>
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <!-- end of nav-collapse -->
          </div>
          <div class="col-lg-2 col-md-2 col-2">
            <div class="header-right">
              <div class="header-search-form-wrapper">
                <div class="cart-search-contact">
                  <button class="search-toggle-btn">
                    <i
                      class="fi flaticon-search"
                    ></i>
                  </button>
                  <div class="header-search-form">
                    <form action="{{ routes.search_url }}">
                      <div>
                        <input
                          type="text"
                          name="q"
                          class="form-control"
                          value="{{ search.terms | escape }}"
                          placeholder="Search here..."
                        >
                        <button type="submit">
                          <i
                            class="fi flaticon-search"
                          ></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="header-login">
                <a class="login-btn" href="/account/login"
                  ><i
                    class="fi flaticon-user-profile"
                  ></i
                ></a>
              </div>
              <div class="mini-cart">
                <button class="cart-toggle-btn">
                  <i class="fi flaticon-add-to-cart"></i>
                  <span
                    class="cart-count cartCount"
                  >
                    {{- cart.item_count -}}
                  </span>
                </button>
                <div class="mini-cart-content">
                  <div class="title"></div>
                  <button class="mini-cart-close"><i class="ti-close"></i></button>
                  <div class="mini-cart-items">
                    <p class="top-p">
                      Your Cart (<span class="cartCount">{{ cart.item_count }}</span>)
                    </p>

                    <div class="mini-cart-item clearfix" id="mini-cart">
                      {% for item in cart.items %}
                        <div class="mini-cart-item clearfix">
                          <div class="mini-cart-item-image">
                            <a href="{{ item.url }}"
                              ><img
                                src="{{ item.image |  image_url: width: 300  }}"
                                alt=""
                                width=""
                                height=""
                            ></a>
                          </div>
                          <div class="mini-cart-item-des">
                            <div class="mini-cart-item-des-top">
                              <h4>
                                <a href="{{ item.url }}">{{ item.title }}</a>
                              </h4>
                              <ul class="product-text-sub">
                                <li>Black</li>
                              </ul>
                            </div>
                            <span class="price">
                              {{- cart.currency.symbol -}}
                              {{- item.price | money_without_currency -}}
                            </span>
                          </div>
                          <div class="pro-single-btn">
                            <div class="quantity ">
                              <input type="text" value="{{ item.quantity }}">
                              <div class="dec qtybutton"></div>
                              <div class="inc qtybutton"></div>
                              <div
                                class="dec qtybutton"
                                onclick="updateValue({{forloop.index}}, {{ item.quantity }}, 'dec')"
                              >
                                -
                              </div>
                              <div
                                class="inc qtybutton"
                                onclick="updateValue({{forloop.index}}, {{ item.quantity }}, 'inc')"
                              >
                                +
                              </div>
                            </div>
                            <a
                              href="#"
                              class="dlt-btn"
                              onclick="removeCartItem({{forloop.index}})"
                            >
                              <i class="ti-trash"></i>
                            </a>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="mini-cart-action clearfix">
                    <ul>
                      <li>
                        Subtotal (<span class="cartCount">{{ cart.item_count }}</span> items)
                      </li>
                      <li>
                        <strong>
                          {{ cart.currency.symbol }}
                          <span id="subtotalAmount">{{ cart.items_subtotal_price | money_without_currency }}</span>
                        </strong>
                      </li>
                    </ul>
                    <div class="mini-btn">
                      <a href="/checkout" class="view-cart-btn">CONTINUE TO CHECKOUT</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of container -->
    </nav>
  </div>
</header>

{% schema %}
{
  "name": "Header Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ],
  "presets": [
    {
      "name": "Header Section"
    }
  ]
}
{% endschema %}
