<section class="hero-section section-padding">
  <div class="container">
    <div class="slide-active">
      {% for block in section.blocks %}
        <div class="hero-item">
          <div class="row align-items-center">
            <div class="col-lg-7 col-md-12 col-12">
              <div class="hero-text">
                <div class="hero-text-inner">
                  <h2>{{ block.settings.hero_title }}</h2>
                  <p>
                    {{ block.settings.hero_description }}
                  </p>
                  <a href="{{ block.settings.hero_button_Link }}" class="theme-btn">
                    {{- block.settings.hero_button_text -}}
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 col-12">
              <div class="hero-img">
                <img
                  src="{{ block.settings.hero_background_image |  image_url: width: 1920 }}"
                  width=""
                  height=""
                  alt="{{ block.settings.hero_background_image.alt }}"
                >
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- end row -->
  </div>
</section>

{% schema %}
{
  "name": "Hero Section",
  "settings": [],
  "blocks": [
    {
      "name": "Slider",
      "type": "block",
      "settings": [
        {
          "type": "image_picker",
          "id": "hero_background_image",
          "label": "Background Image"
        },
        {
          "type": "text",
          "id": "hero_title",
          "label": "Hero Title",
          "default": "Launching Comfort This Labor Day!"
        },
        {
          "type": "text",
          "id": "hero_description",
          "label": "Hero Description",
          "default": "Elevate your relaxation with sleek design, affordable prices, and a 5-year warranty. Don’t miss our Labor Day offers!"
        },
        {
          "type": "text",
          "id": "hero_button_text",
          "label": "Hero Button Text",
          "default": "Get Yours Today"
        },
        {
          "type": "url",
          "id": "hero_button_Link",
          "label": "Hero Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Section",
      "blocks": [
        {
          "type": "block"
        }
      ]
    }
  ]
}
{% endschema %}
