<section class="features-section style-2 section-padding">
  <div class="features-wrap">
    <div class="container">
      <div class="features-wrap">
        <div class="row">
          {% for block in section.blocks %}
            <div class="col-lg-4 col-md-6 col-12">
              <a href="{{ block.settings.link  }}">
                <div class="features-item wow fadeInUp" data-wow-duration="1000ms">
                  <img
                    class="featureImg"
                    src="{{ block.settings.block_image | image_url: width: 100 }}"
                    alt="{{ block.settings.block_image.alt }}"
                    width=""
                    height=""
                    loading="lazy"
                  >
                  <h3>{{ block.settings.title }}</h3>
                  <p>{{ block.settings.description }}</p>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product Info Section",
  "settings": [],
  "blocks": [
    {
      "name": "Item",
      "type": "block",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Secure Shopping"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Our store uses SSL encryption to ensure your payment information is always secure"
        },
        {
          "type": "text",
          "id": "link",
          "label": "Link",
          "default": "#"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Info Section",
      "blocks": [
        {
          "type": "block"
        }
      ]
    }
  ]
}
{% endschema %}
<!-- Start of Judge.me code --> 
  <div style='clear:both'></div> 
  <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-product-title='{{ product.title | escape }}' data-id='{{ product.id }}' data-auto-install='false'> 
    {{ product.metafields.judgeme.widget }} 
  </div> 
<!-- End of Judge.me code -->

